 nav, .contenedor, article, header
    {
     max-width: 90%;
     margin: auto;
     text-align: center;
     border-radius: 0.3em;
    }
 
nav{
    background-color: rgb(244, 121, 32);
}
.contenedor{
    background-color: blueviolet;
}
footer{
    background-color: rgb(0, 88, 131);
    max-width: 90%;
    margin: auto;
    text-align: center;
    border-radius: 0.3em;
}

article {
    background-color: rgb(179, 179, 179);
    
}
header{
    background-color: rgb(0, 88, 131);
}
.principal{
    background-color: rgb(179, 179, 179);
    
}
section{
    background-color: rgb(179, 179, 179);
    
    margin-left: 60px;
    max-width: 60%;
    border-radius: 0.3em;
    min-height: 900px;
}
aside{
    background-color: rgb(240, 180, 41);
    margin: 10px;
    width: 100%;
    text-align: center;
    border-radius: 0.3em;
    
}
#izquierdo{
    background-color: rgb(255, 255, 255);
    margin: 10px;
}
#derecho {
    background-color: rgb(255, 255, 255);
    float: right;
    width: 29%;
    margin-right: 80px;
    text-align: center;
    border-radius: 0.3em;
}

#contador{
    background-color: rgb(240, 180, 41);
    margin-top: 10px;
    border-radius: 0.3em;
    margin: 10px;
    width: 100%;    
}
#video{
    text-align: center;
}
.menu li{
    display: inline-block;
}
li a, btnDesplegable{
    display: inline-block;
    color: beige;
    padding: 0.9em 1em;
    text-align: center ;
    text-decoration: none;
}
.contenidoDesplegable{
    display:none;
    position: absolute;
    background-color: rgb(244, 121, 32);
    min-width: 8em;
}
.contenidoDesplegable a{
    color: black;
    padding: 0.9em 1em;
    display:block ;
    text-align: left;
}
.contenidoDesplegable a:hover{
    background-color: rgb(240, 195, 89);
}
.desplegable:hover .contenidoDesplegable{
    display: block;
}
li a:hover{
   background-color: rgb(240, 195, 89); 
}